body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Gill Sans", sans-serif;

}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    height: 95%;
    padding: 15px;
    color: white;
    background-color: #493D9E;
}

.iocns {
    display: flex;
    flex-direction: column;
    gap: 20px;

}